form#notas {
	flex: 30% 0;
	width: 100%;
	
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	grid-template-rows: repeat(3, minmax(0, 1fr));
	gap: 1rem;
	
	/* * varibales de colores para notas */
	--color1: linear-gradient(135deg, #29D2C7 0%, #29D2C7 25%, #2DF986 75%, #0EF6F5 100%);
	--color2: linear-gradient(135deg, #29C0B6 0%, #29C0B6 25%, #2DF986 75%, #0EF6F5 100%);
	--color3: linear-gradient(135deg, #28AEA6 0%, #28AEA6 25%, #2DF986 75%, #0EF6F5 100%);
	--color4: linear-gradient(135deg, #269D95 0%, #269D95 25%, #2DF986 75%, #0EF6F5 100%);
	
	--color1-hover: linear-gradient(135deg, #239A92 0%, #239A92 25%, #2DF986 75%, #0EF6F5 100%);
	--color2-hover: linear-gradient(135deg, #238D86 0%, #238D86 25%, #2DF986 75%, #0EF6F5 100%);
	--color3-hover: linear-gradient(135deg, #238D86 0%, #238D86 25%, #2DF986 75%, #0EF6F5 100%);
	--color4-hover: linear-gradient(135deg, #1F736E 0%, #1F736E 25%, #2DF986 75%, #0EF6F5 100%);
}

form#notas > .nota > input {
	position: absolute;
	left: -1000000px;
}

form#notas > .nota > label {
	width: 100%;
	height: 100%;
	display: block;
	margin: 0;
	border-radius: 15px;
	cursor: pointer;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	font-family: var(--fuente-principal);
	font-weight: 700;
	font-size: 5rem;
	
	box-shadow: 10px 10px 10px -5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 10px 10px 10px -5px rgba(0,0,0,0.5);
	-moz-box-shadow: 10px 10px 10px -5px rgba(0,0,0,0.5);
	
	background-size: 400% 400%;
	background-repeat: no-repeat;
	transition: .4s all;
}
form#notas > .nota[activo] > label {background-position: 100% 100%;}

form#notas > .nota:nth-of-type(4n+1) > label {background-image: var(--color1);}
form#notas > .nota:nth-of-type(4n+2) > label {background-image: var(--color2);}
form#notas > .nota:nth-of-type(4n+3) > label {background-image: var(--color3);}
form#notas > .nota:nth-of-type(4n+4) > label {background-image: var(--color4);}
form#notas > .nota:nth-of-type(4n+1) > label:hover {background-image: var(--color1-hover);}
form#notas > .nota:nth-of-type(4n+2) > label:hover {background-image: var(--color2-hover);}
form#notas > .nota:nth-of-type(4n+3) > label:hover {background-image: var(--color3-hover);}
form#notas > .nota:nth-of-type(4n+4) > label:hover {background-image: var(--color4-hover);}