.piano {
	width: 100vw;
	height: 100%;
	
	display: flex;
	flex-flow: row nowrap;
	position: relative;
	
	--color-nota-natural-marcada: #69CEC8;
	--color-nota-accidental-marcada: #579B97;
	--color-nota-natural-activa: #31BCB3;
	--color-nota-accidental-activa: #2B7F7A;
	--color-nota-natural-marcada-activa: #31BCB3;
	--color-nota-accidental-marcada-activa: #2B7F7A;
}

.piano > .grupo {
	flex-grow: 1;
	position: relative;
}

.piano > .grupo > .nota.natural {
	width: 100%;
	height: 100%;
	
	background-color: #f6f5f3;
	border: 1px solid #888888;
	cursor: pointer;
}

.piano > .grupo > .nota.accidental {
	position: absolute;
	z-index: 1;
	top: 0px;
	right: -37.5%;
	width: 75%;
	height: 58%;
	
	
	background: linear-gradient(to top, #3d3d3d, #323232, #3d3d3d);
	border-bottom-left-radius: 1.25rem;
	border-bottom-right-radius: 1.25rem;
	cursor: pointer;
}

/* * =========== COLORES NOTAS =========== */
.piano > .grupo > .nota.natural.marcada {
	background-color: var(--color-nota-natural-marcada);
}
.piano > .grupo > .nota.natural.activa {
	background-color: var(--color-nota-natural-activa);
}
.piano > .grupo > .nota.natural.marcada.activa {
	background-color: var(--color-nota-natural-marcada-activa);
}

.piano > .grupo > .nota.accidental.marcada {
	background: none;
	background-color: var(--color-nota-accidental-marcada);
}
.piano > .grupo > .nota.accidental.activa {
	background: none;
	background-color: var(--color-nota-accidental-activa);
}
.piano > .grupo > .nota.accidental.marcada.activa {
	background: none;
	background-color: var(--color-nota-accidental-marcada-activa);
}