.header {
	background-image: linear-gradient(to right, #29d2c7, #21d1be, #1ecfb4, #21ceaa, #28cc9f);
	
	display: flex;
	flex-flow: row nowrap;
	justify-content: left;
	align-items: center;
	
	width: 100%;
	padding: 0.8rem 0;
	position: relative;
	
	text-decoration: none;
	
	margin-bottom: auto;
}

.header a.logo {
	text-decoration: none;
	
	position: absolute;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}
.header a.logo svg {
	width: 6rem;
	color: var(--color-blanco);
}
.header a.logo h2 {
	font-family: var(--fuente-cursiva);
	font-weight: 700;
	color: var(--color-blanco);
	font-size: 3rem;
}
.header a.logo:hover svg, .header a.logo:hover h2 {color: var(--color-blanco-hover);}

.header .opciones {
	width: 100%;
	
	display: flex;
	justify-content: center;
	gap: 25rem;
}

.header a.opcion {
	text-decoration: none;
}
.header a.opcion h2 {
	color: var(--color-blanco);
	font-family: var(--fuente-titulo);
	font-size: 2.4rem;
	font-weight: 700;
}
.header .opciones .opcion:hover h2 {color: var(--color-blanco-hover);}