@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Open+Sans:wght@400;600&family=Rubik:wght@300;400;500;600&display=swap');

/** ################## GLOBALES ################## */

:root {
	--color-primario: #2CDFD3;
	--color-primario-oscuro: #27C4BA;
	--color-primario-footer: #146761;
	
	--color-blanco: #e0fffc;
	--color-blanco-hover: #e2e2e2;
	
	--fuente-principal: "Rubik", sans-serif;
	--fuente-titulo: "Open Sans", sans-serif;
	--fuente-cursiva: "Charm", serif;
}

*, *:before, *:after { 
	box-sizing: border-box; 
}

html {
	font-size: 62.5%;
	font-family: var(--fuente-principal);
}

div.app {
	min-height: 100vh;
	margin: 0;
	display: flex;
	flex-flow: row wrap;
}