@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Open+Sans:wght@400;600&family=Rubik:wght@300;400;500;600&display=swap');

/** ################## GLOBALES ################## */

:root {
	--color-primario: #2CDFD3;
	--color-primario-oscuro: #27C4BA;
	--color-primario-footer: #146761;
	--color-primario-titulo: #00c9a7;
	
	--color-fondo-app: #F0FFFF;
	
	--color-blanco: #e0fffc;
	--color-blanco-hover: #e2e2e2;
	
	--color-fondo-oscuro: #444444;
	--color-fondo-oscuro-hover: #2a2a2a;
	
	--fuente-principal: "Rubik", sans-serif;
	--fuente-titulo: "Open Sans", sans-serif;
	--fuente-cursiva: "Charm", serif;
}

*, *:before, *:after { 
	box-sizing: border-box; 
}

html {
	font-size: 62.5%;
	font-family: var(--fuente-principal);
	
	background-color: var(--color-fondo-app);
}

div.app {
	min-height: 100vh;
	margin: 0;
	display: flex;
	flex-flow: column wrap;
}

h1 {
	font-family: var(--fuente-titulo);
	font-weight: 700;
	font-size: 3.2rem;
	text-align: center;
	color: var(--color-primario-titulo);
	
	margin: 1.2rem 0;
}
@media screen and (max-width: 1000px) {
	h1 {	
		font-size: 2.4rem;
	}
}

/** ################## UTILIDADES ################## */

*[data-transicion] {
	opacity: 0;
	animation: transicion 0.5s ease-in-out;
	animation-fill-mode: forwards;
}
@keyframes transicion {
	from {opacity: 0;}
	to {opacity: 1;}
}


/** ################## MAIN ################## */
.main {
	flex: 100% 1 1;
	
	display: grid;
	grid-template-columns: minmax(0, 1fr);
	grid-template-rows: 6fr 4fr;
}

.main-selectores {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.main-selectores .contenedor-selectores {
	flex-grow: 1;
	
	padding: 2rem;
	width: 100%;
	
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: stretch;
	gap: 1.6rem;
}

@media screen and (max-width: 1000px) {
	.main {
		display: block;
	}
	
	.main-selectores > .contenedor-selectores {
		flex-flow: row wrap;
		gap: 0.5rem;
	}
}