form#acordes {
	flex: 60% 0;
	width: 100%;
	
	display: grid;
	grid-template-columns: repeat(7, minmax(0, 1fr));
	grid-template-rows: repeat(3, minmax(0, 1fr));
	gap: 1rem;
	
	/* * varibales de colores para notas */
	--color1: linear-gradient(135deg, #8D5AB4 0%, #8D5AB4 25%, #E562F2 75%, #A45ED1 100%);
	--color2: linear-gradient(135deg, #8555AA 0%, #8555AA 25%, #E562F2 75%, #A45ED1 100%);
	--color3: linear-gradient(135deg, #7E50A1 0%, #7E50A1 25%, #E562F2 75%, #A45ED1 100%);
	--color4: linear-gradient(135deg, #764B97 0%, #764B97 25%, #E562F2 75%, #A45ED1 100%);
	--color5: linear-gradient(135deg, #6F478D 0%, #6F478D 25%, #E562F2 75%, #A45ED1 100%);
	--color6: linear-gradient(135deg, #674283 0%, #674283 25%, #E562F2 75%, #A45ED1 100%);
	--color7: linear-gradient(135deg, #5F3D7A 0%, #5F3D7A 25%, #E562F2 75%, #A45ED1 100%);
	
	--color1-hover: linear-gradient(135deg, #6F478D 0%, #6F478D 25%, #E562F2 75%, #A45ED1 100%);
	--color2-hover: linear-gradient(135deg, #684385 0%, #684385 25%, #E562F2 75%, #A45ED1 100%);
	--color3-hover: linear-gradient(135deg, #633F7E 0%, #633F7E 25%, #E562F2 75%, #A45ED1 100%);
	--color4-hover: linear-gradient(135deg, #5D3B76 0%, #5D3B76 25%, #E562F2 75%, #A45ED1 100%);
	--color5-hover: linear-gradient(135deg, #57386F 0%, #57386F 25%, #E562F2 75%, #A45ED1 100%);
	--color6-hover: linear-gradient(135deg, #513467 0%, #513467 25%, #E562F2 75%, #A45ED1 100%);
	--color7-hover: linear-gradient(135deg, #4B3060 0%, #4B3060 25%, #E562F2 75%, #A45ED1 100%);
}

form#acordes > .acorde > input {
	position: absolute;
	left: -1000000px;
}

form#acordes > .acorde > label {
	width: 100%;
	height: 100%;
	display: block;
	margin: 0;
	border-radius: 15px;
	cursor: pointer;
	
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	
	font-family: var(--fuente-principal);
	font-weight: 700;
	font-size: 4rem;
	
	box-shadow: 10px 10px 10px -5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 10px 10px 10px -5px rgba(0,0,0,0.5);
	-moz-box-shadow: 10px 10px 10px -5px rgba(0,0,0,0.5);
	
	background-size: 400% 400%;
	background-repeat: no-repeat;
	transition: .5s all;
}
form#acordes > .acorde[activo] > label {background-position: 100% 100%;}

form#acordes > .acorde:nth-of-type(7n+1) > label {background-image: var(--color1);}
form#acordes > .acorde:nth-of-type(7n+2) > label {background-image: var(--color2);}
form#acordes > .acorde:nth-of-type(7n+3) > label {background-image: var(--color3);}
form#acordes > .acorde:nth-of-type(7n+4) > label {background-image: var(--color4);}
form#acordes > .acorde:nth-of-type(7n+5) > label {background-image: var(--color5);}
form#acordes > .acorde:nth-of-type(7n+6) > label {background-image: var(--color6);}
form#acordes > .acorde:nth-of-type(7n+7) > label {background-image: var(--color7);}
form#acordes > .acorde:nth-of-type(7n+1) > label:hover {background-image: var(--color1-hover);}
form#acordes > .acorde:nth-of-type(7n+2) > label:hover {background-image: var(--color2-hover);}
form#acordes > .acorde:nth-of-type(7n+3) > label:hover {background-image: var(--color3-hover);}
form#acordes > .acorde:nth-of-type(7n+4) > label:hover {background-image: var(--color4-hover);}
form#acordes > .acorde:nth-of-type(7n+5) > label:hover {background-image: var(--color5-hover);}
form#acordes > .acorde:nth-of-type(7n+6) > label:hover {background-image: var(--color6-hover);}
form#acordes > .acorde:nth-of-type(7n+7) > label:hover {background-image: var(--color7-hover);}